@{
    ViewData["Title"] = "Home Page";
}

<H2>Azure Redis </h2>
    <Ul>
        <Li>
            Value read from cache is: </li>
            @ViewData [ “CacheTime”]
            </Ul>
            <br/>
            <Ul>
                <Li>
                    Current value is: </li>
                    @ViewData [ “CurrentTime”]
                    </Ul>
